body {
  background-color: #f9f9f9;
}
.contact-container {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.contact-info {
  margin-bottom: 30px;
}
.contact-info h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.contact-info p {
  margin-bottom: 10px;
}
.text-information {
  font-family: sans-serif;
  color: #757575;
}

.txt-enquiry {
  font-family: sans-serif;
  color: #e97862;
}
