body {
  background-color: #f8f9fa;
}

h5 {
  line-height: 1.5em;
  height: 2.5em;
  overflow: hidden;
}

.space-card {
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
}

.space-card::before {
  content: "";
  float: right;
  margin-top: 3em;
}
.course-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.course-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: auto;
}
.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.bestseller {
  background-color: #6f42c1;
  color: #fff;
}
.popular {
  background-color: #007bff;
  color: #fff;
}
