.explore-background {
  background-color: #1b2124;
  color: #ede3e1;
  border: none;
}
.card-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-img-top {
  width: 450px;
  height: 300px;
}
.explore-content-space {
  justify-content: space-between;
}
.price {
  font-size: 24px;
  font-weight: bold;
}
.class-update {
  font-size: 13px;
  color: #e97862;
}
